<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/CSS/img-adaptive">
    <title>{{title}}</title>

</head>
<body>
<p><img src="static/img/title2.PNG" alt=":(" class="responsive" align="center"></p>
<header>
    <nav class="navbar navbar-light bg-light">
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="">Добро пожаловать {{ current_user.name }}!</a>
            <a class="navbar-brand" href="/add_product">Add product</a>
            <a class="navabar-brand" href="/logout">Выйти из аккаунта</a>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
{% endif %}
    </nav>
</header>
<!-- Begin page content -->
<form action="http://192.168.1.10:8080/" name="find_form" method="POST">
    <p><input type="text" name="req" align="right"></p>
    <p><input type="submit" value="Найти" align="right"></p>
</form>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>