{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="static/CSS/product.css">
<!--изменение заголовка-->
{% if size == 0 %}
<h4 align="center"> Товары не найдены</h4>
{% else %}
<h4 align="center">{{head}}</h4>
{% for prd in prds %}
<!--Используя Css стиль делаем красивую карточку-->
<div class="product-item">
    <div class="product-img">
        <a href="">
            <img src="{{ prd.img }}" alt=":(">
        </a>
    </div>
    <div class="product-list">
        <h3>{{ prd.desc }}</h3>
        <span class="price">₽ {{ prd.price }}</span>
        <div class="actions">
            <div class="add-to-cart">
                {% if current_user.basket %}
                    {% if str_indexes[loop.index0] in current_user.basket%}
                        <a href="" class="cart-button">Уже в корзине</a>
                        <a href="/dlbasket/{{prd.id}}" class="cart-button">Удалить из корзины</a>
                    {% else %}
                        <a href="/basket/{{prd.id}}" class="cart-button">В корзину</a>
                    {% endif %}
                {% else %}
                    <a href="/basket/{{prd.id}}" class="cart-button">В корзину</a>
                {%endif%}
            </div>
        </div>
    </div>
    {% if current_user.is_authenticated and prd.user_id == current_user.id%}
    <div>
        <a href="/edit_product/{{prd.id}}" class="btn btn-warning">
            Изменить товар
        </a>
        <a href="/product_delete/{{prd.id}}" class="btn btn-danger">
            Удалить товар
        </a>
    </div>
    {% endif %}
</div>
<h4>


</h4>
{% endfor %}
{% if sum != 0 %}
<h4>Сумма заказа: {{sum}}</h4>
<a href="/add_order">Сделать заказ</a>
{% endif %}
{% endif %}
{% endblock %}