{% extends "base.html" %}

{% block content %}

<h1 align="center">Ваши заказы</h1>

<style>
   .center {
    margin: auto;
   }
 </style>

{% for order in orders %}
<div class="card text-white bg-info mb-3 center"  style="width: 30rem;">
    <img class="card-img-top" src="{{order[1].img}}" alt="Product image">
    <div class="card-body">
        <h5 class="card-title">{{order[1].desc}}</h5>
        <p class="card-text">Вы сделали заказ у пользователя {{order[0].name}}. Контакты для связи(email):
            {{order[0].email}}</p>
        <a href="https://mail.google.com/mail/" class="btn btn-primary">Перейти в почту</a>
        <a href="/delp/{{order[2]}}" class="btn btn-primary">Отменить заказ</a>
    </div>
</div>
<h1>


</h1>
{% endfor %}
{% endblock %}